@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  --color-primary: #006241;
  --color-secondary: #d50032;
  --color-extra: #d4e9e2;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #000;
}

a {
  color: #000;
}
ul {
  list-style: none;
}
p {
  margin: 5px 0;
  line-height: 1.7;
}

/* navbar */
.navbar {
  width: 100%;
  height: auto;
  background-color: #ffff;
  padding: 20px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  max-width: 1440px;
  margin: 0 auto;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar li {
  margin: 0 15px;
  font-weight: bold;
}
.navbar a {
  color: #000;
  text-decoration: none;
}
.navbar a:hover {
  color: var(--color-primary);
}
.navbar-brand img {
  width: 50px;
  height: 50px;
}
.navbar-nav-left {
  text-transform: uppercase;
  flex: 1;
  margin-left: 20px;
}
.navbar-nav-right li:first-child a {
  display: flex;
  align-items: center;
}
.navbar-nav-right img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.navbar-nav-right li:nth-child(2) {
  margin: 0 5px;
}

/* //box */
.box{
  margin-bottom: 30px;
}
.box-inner
{
  max-width: 700px;
  margin: 0 auto;
}
section a{
  color: #fff;
}

/* Buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: none;
  border: 1px solid black;
  border-radius: 50px;
  padding: 7px 16px;
  list-style: none;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}
.btn-dark-outline {
  border-color: #000;
  color: #000;
}
.btn-dark {
  background-color: black;
  color: #fff;
}
.btn-dark:hover {
  background-color: rgb(0, 0, 0, 0.06);
}
/* Background-cllases */

.bg-primary
{
  background-color: var(--color-primary);
  color: white;
}
.bg-secondary
{
  background-color: var(--color-secondary);
  color: white;
}
.bg-extra
{
  background-color: var(--color-extra);
  color: #000;
}
/* Text-styling */
.text-center
{
  text-align: center;
}
.text-xl{
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
  margin-bottom: 20px;
}
.text-lg{
  font-size: 40px;
  text-transform: uppercase;
 
  margin-bottom: 20px;
}
.text-md{
  font-size: 24px;
 
  margin-bottom: 20px;
}
.text-sm{
  font-size: 19px;
  
  margin-bottom: 20px;
}

/* //padding */
.py-sm{
padding: 10px 0px;
}
.py-md{
  padding: 20px 0px;
  }
  .py-lg{
    padding: 40px 0px;
    }

@media(max-width:960px)
{
  .text-xl
  {
    font-size: 30px;
  }
  .text-lg
  {
    font-size: 25px;
  }
  .text-md
  {
    font-size: 19px;
  }
}
@media(min-width:1440px)
{
  .box{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}